<section class="bg-white dark:bg-gray-900 py-8 lg:py-16">
  <div class="max-w-2xl mx-auto px-4">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-lg lg:text-2xl font-bold text-gray-900 dark:text-white">Discussion (20)</h2>
    </div>
    <form class="mb-6">
        <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            <label for="comment" class="sr-only">Your comment</label>
            <textarea id="comment" rows="6"
                class="px-0 w-full text-sm text-gray-900 border-0 focus:ring-0 focus:outline-none dark:text-white dark:placeholder-gray-400 dark:bg-gray-800"
                placeholder="Write a comment..." required></textarea>
        </div>
        <button type="submit"
            class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
            Post comment
        </button>
    </form>

    {% include '/comments-block-user.twig' with {
        'username' : 'Michael Gough', 
        'text': 'Very straight-to-point article. Really worth time reading. Thank you! But tools are just the
            instruments for the UX designers. The knowledge of the design tools are as important as the
            creation of the design strategy.', 
            'avatar': 'https://flowbite.com/docs/images/people/profile-picture-1.jpg', 
            'date': '2022-02-08'} 
    %}
    {% include '/comments-block-user.twig' with {
        'username' : 'Bonnie Green', 
        'text': 'The article covers the essentials, challenges, myths and stages the UX designer should consider while creating the design strategy.', 
            'avatar': 'https://flowbite.com/docs/images/people/profile-picture-4.jpg', 
            'date': '2022-02-08'} 
    %}

    {% include '/comments-block-user.twig' with {
        'username' : 'Helene Engels', 
        'text': 'Thanks for sharing this. I do came from the Backend development and explored some of the tools to design my Side Projects.', 
            'avatar': 'https://flowbite.com/docs/images/people/profile-picture-5.jpg', 
            'date': '2022-02-08'} 
    %}
  </div>
</section>