<div class="px-5 bg-white text-slate-700 ">
	<div class="grid divide-y divide-neutral-200">
		<div class="py-2">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>
						Debugging ?</span>
					<span class="transition group-open:rotate-180">
						<svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewbox="0 0 24 24" width="24">
							<path d="M6 9l6 6 6-6"></path>
						</svg>
					</span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					<pre>{{ dump() }}</pre>
				</p>
			</details>
		</div>
	</div>
</div>
